<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/styles/stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Konuşarak Öğren</title>
</head>

<body>

    <!-- Header -->
    @if (ViewBag.Login)
    {
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/assets/images/konusarakogren.png" width="32" height="32" class="d-inline-block align-text-top">
                    Konuşarak Öğren
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link " href="/exam/add">Sınav Oluştur</a>
                        <a class="nav-link" href="/exam/list">Sınavlar</a>
                        <a class="nav-link text-danger" href="#">Çıkış Yap</a>
                    </div>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <div class="container d-flex justify-content-center">
                <a class="navbar-brand" href="#">
                    <img src="~/assets/images/konusarakogren.png" width="32" height="32"
                     class="d-inline-block align-text-top">
                    Konuşarak Öğren
                </a>
            </div>
        </nav>
    }
    <!-- #Header -->
    <!-- Content -->
    @RenderBody()
    <!-- #Content -->

    <script src="~/assets/scripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>