
<script>
    $(function () {
      checkSession();
      var data = getWiredPosts();
      setQuestionsLayout();
      createExam();
    });
</script>

<div class="container mt-3">
    <form id="exam-form" name="exam" onsubmit="return false;">
        <select class="form-select mb-3" id="exam-title" required>
            <option id="select-info" selected disabled required value=""></option>
        </select>
        <div class="mb-3">
            <label for="exam-text" class="form-label" required>Sınav Metni</label>
            <textarea class="form-control" id="exam-text" rows="5"></textarea>
        </div>
    </form>
</div>