<script>
    $(function() {
        getExamById(@ViewBag.Id);
    });
</script>

<div class="container mt-3">
    <div class="row mt-3 mb-3">
        <h5 id="exam-title"></h5>
        <br />
        <br />
        <p id="exam-text"></p>
    </div>
    <div id="questions">

    </div>
</div>

